<?xml version="1.0"?>
<config>
    <modules>
        <Macopedia_Solr>
            <version>1.1.0</version>
        </Macopedia_Solr>
    </modules>
    <global>
        <models>
            <solr>
                <class>Macopedia_Solr_Model</class>
            </solr>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Macopedia_Solr_Model_CatalogSearch_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <helpers>
            <solr>
                <class>Macopedia_Solr_Helper</class>
            </solr>
        </helpers>
        <blocks>
            <solr>
                <class>Macopedia_Solr_Block</class>
            </solr>
        </blocks>
    </global>
    <admin>
        <routers>
            <solr>
                <use>admin</use>
                <args>
                    <module>Macopedia_Solr</module>
                    <frontName>solr</frontName>
                </args>
            </solr>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <solr translate="title" module="solr">
                                            <title>Solr Search</title>
                                        </solr>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <catalogsearch_reset_search_result>
                <observers>
                    <solr_indexer>
                        <type>singleton</type>
                        <class>solr/indexer</class>
                        <method>refresh</method>
                    </solr_indexer>
                </observers>
            </catalogsearch_reset_search_result>
        </events>
    </adminhtml>
    <default>
        <solr>
            <active>
                <frontend>0</frontend>
                <admin>0</admin>
            </active>
            <server>
                <host></host>
                <port></port>
                <path>/solr</path>
            </server>
            <search>
                <limit>100</limit>
            </search>
        </solr>
    </default>
</config>